<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_f1095c601bfb471faaa381fc5600b172 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_f1095c601bfb471faaa381fc5600b172" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_f1095c601bfb471faaa381fc5600b172 = L.map(
        'map_f1095c601bfb471faaa381fc5600b172', {
        center: [55.760515, 37.855141],
        zoom: 12,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_03f1397bacb747fd9e8c17e2bc4cd0ee = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_f1095c601bfb471faaa381fc5600b172);
    
        var marker_b42b703f02d24b3db5dbb84a4faca88c = L.marker(
            [55.760515, 37.855141],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    

                var icon_e73b51b411e94baea8811a8b6289b4c7 = L.AwesomeMarkers.icon({
                    icon: 'check',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b42b703f02d24b3db5dbb84a4faca88c.setIcon(icon_e73b51b411e94baea8811a8b6289b4c7);
            
    
            var popup_38caa3c5da0348d48f7490f7f8eef943 = L.popup({maxWidth: '100%'
            
            });

            
                var html_c8af76dde1e442cdaf3db009c72c1897 = $(`<div id="html_c8af76dde1e442cdaf3db009c72c1897" style="width: 100.0%; height: 100.0%;">Here I am</div>`)[0];
                popup_38caa3c5da0348d48f7490f7f8eef943.setContent(html_c8af76dde1e442cdaf3db009c72c1897);
            

            marker_b42b703f02d24b3db5dbb84a4faca88c.bindPopup(popup_38caa3c5da0348d48f7490f7f8eef943)
            ;

            
        
    
        var marker_a1a3bb7479414994942ed76e92f2d721 = L.marker(
            [55.72874106616099, 37.678653357444276],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_eea14235fdfe430494917a39e641215f = L.popup({maxWidth: '100%'
            
            });

            
                var html_964be1ce379c488584dc1244ce6f285e = $(`<div id="html_964be1ce379c488584dc1244ce6f285e" style="width: 100.0%; height: 100.0%;"><i>Loft 17</i></div>`)[0];
                popup_eea14235fdfe430494917a39e641215f.setContent(html_964be1ce379c488584dc1244ce6f285e);
            

            marker_a1a3bb7479414994942ed76e92f2d721.bindPopup(popup_eea14235fdfe430494917a39e641215f)
            ;

            
        
    
        marker_a1a3bb7479414994942ed76e92f2d721.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_d35b92b158e6429da2720b18c0002105 = L.marker(
            [55.76340440639177, 37.607886408427845],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_55a31794ed3f42be9ba006df9c79b439 = L.popup({maxWidth: '100%'
            
            });

            
                var html_821d74623d4342f28944977b0b0ce20c = $(`<div id="html_821d74623d4342f28944977b0b0ce20c" style="width: 100.0%; height: 100.0%;"><i>Голову с плеч</i></div>`)[0];
                popup_55a31794ed3f42be9ba006df9c79b439.setContent(html_821d74623d4342f28944977b0b0ce20c);
            

            marker_d35b92b158e6429da2720b18c0002105.bindPopup(popup_55a31794ed3f42be9ba006df9c79b439)
            ;

            
        
    
        marker_d35b92b158e6429da2720b18c0002105.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_e662c4b1259446cf8b46702ee32db68c = L.marker(
            [55.76284658353206, 37.60660720763094],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_0c7a4b1f2f0a45978833529fd8a1d185 = L.popup({maxWidth: '100%'
            
            });

            
                var html_d240c2c6b5c74d16ae54bd8aec5e23a6 = $(`<div id="html_d240c2c6b5c74d16ae54bd8aec5e23a6" style="width: 100.0%; height: 100.0%;"><i>Craft RePUBlic</i></div>`)[0];
                popup_0c7a4b1f2f0a45978833529fd8a1d185.setContent(html_d240c2c6b5c74d16ae54bd8aec5e23a6);
            

            marker_e662c4b1259446cf8b46702ee32db68c.bindPopup(popup_0c7a4b1f2f0a45978833529fd8a1d185)
            ;

            
        
    
        marker_e662c4b1259446cf8b46702ee32db68c.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_267cbe4521af4da29d967f1035da987a = L.marker(
            [55.7437860579185, 37.5874647117225],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_f86df4b41e9147b9a3fcfea200fd2e81 = L.popup({maxWidth: '100%'
            
            });

            
                var html_fd539b41c37e4b5288c93b786697f249 = $(`<div id="html_fd539b41c37e4b5288c93b786697f249" style="width: 100.0%; height: 100.0%;"><i>БАР В ФИТНЕС КЛУБЕ</i></div>`)[0];
                popup_f86df4b41e9147b9a3fcfea200fd2e81.setContent(html_fd539b41c37e4b5288c93b786697f249);
            

            marker_267cbe4521af4da29d967f1035da987a.bindPopup(popup_f86df4b41e9147b9a3fcfea200fd2e81)
            ;

            
        
    
        marker_267cbe4521af4da29d967f1035da987a.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_fa26ab2a4d5f4b08aca784c90def743e = L.marker(
            [55.75914810521364, 37.58082940186447],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_3c5db4d94b13490db0ad4adf1da8bc25 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4eebfdd3dae840e5a3ad59a98f2f5fe1 = $(`<div id="html_4eebfdd3dae840e5a3ad59a98f2f5fe1" style="width: 100.0%; height: 100.0%;"><i>Клуб «Высотка»</i></div>`)[0];
                popup_3c5db4d94b13490db0ad4adf1da8bc25.setContent(html_4eebfdd3dae840e5a3ad59a98f2f5fe1);
            

            marker_fa26ab2a4d5f4b08aca784c90def743e.bindPopup(popup_3c5db4d94b13490db0ad4adf1da8bc25)
            ;

            
        
    
        marker_fa26ab2a4d5f4b08aca784c90def743e.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_4a8a7b3f50e241e3bb13ecef26008f8e = L.marker(
            [55.64960384473913, 37.56736034551953],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_c75a71b3180446f2bacf1242b63270a5 = L.popup({maxWidth: '100%'
            
            });

            
                var html_8009928acbca40d6aea4e4b799ea2d7f = $(`<div id="html_8009928acbca40d6aea4e4b799ea2d7f" style="width: 100.0%; height: 100.0%;"><i>Паб «ШемроК»</i></div>`)[0];
                popup_c75a71b3180446f2bacf1242b63270a5.setContent(html_8009928acbca40d6aea4e4b799ea2d7f);
            

            marker_4a8a7b3f50e241e3bb13ecef26008f8e.bindPopup(popup_c75a71b3180446f2bacf1242b63270a5)
            ;

            
        
    
        marker_4a8a7b3f50e241e3bb13ecef26008f8e.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_58e7655a30d44f7fa8ed772fd7998d37 = L.marker(
            [55.8738792716378, 37.5514068513028],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_743ccd5f1ca64535bc86fc7d07e4f67e = L.popup({maxWidth: '100%'
            
            });

            
                var html_a51698ebcfec4bf7b9566f7a9b6c03dd = $(`<div id="html_a51698ebcfec4bf7b9566f7a9b6c03dd" style="width: 100.0%; height: 100.0%;"><i>Кафе Бар Бульвар</i></div>`)[0];
                popup_743ccd5f1ca64535bc86fc7d07e4f67e.setContent(html_a51698ebcfec4bf7b9566f7a9b6c03dd);
            

            marker_58e7655a30d44f7fa8ed772fd7998d37.bindPopup(popup_743ccd5f1ca64535bc86fc7d07e4f67e)
            ;

            
        
    
        marker_58e7655a30d44f7fa8ed772fd7998d37.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_05530c755273437f8924d493d2c8fb34 = L.marker(
            [55.7928691563389, 37.4954516902978],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_f48c60aa7339486cac68ceee9f635c02 = L.popup({maxWidth: '100%'
            
            });

            
                var html_489f044e10884f74b63582e5100a9380 = $(`<div id="html_489f044e10884f74b63582e5100a9380" style="width: 100.0%; height: 100.0%;"><i>НООКАН</i></div>`)[0];
                popup_f48c60aa7339486cac68ceee9f635c02.setContent(html_489f044e10884f74b63582e5100a9380);
            

            marker_05530c755273437f8924d493d2c8fb34.bindPopup(popup_f48c60aa7339486cac68ceee9f635c02)
            ;

            
        
    
        marker_05530c755273437f8924d493d2c8fb34.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_76836d4339ef44abbce7d311b1b3aa00 = L.marker(
            [55.8083656113848, 37.4944730388843],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_cb0870f83ac044deb26356cb7a45c899 = L.popup({maxWidth: '100%'
            
            });

            
                var html_45d80b118783458ea07e83a83a628a88 = $(`<div id="html_45d80b118783458ea07e83a83a628a88" style="width: 100.0%; height: 100.0%;"><i>Английский паб Букингем</i></div>`)[0];
                popup_cb0870f83ac044deb26356cb7a45c899.setContent(html_45d80b118783458ea07e83a83a628a88);
            

            marker_76836d4339ef44abbce7d311b1b3aa00.bindPopup(popup_cb0870f83ac044deb26356cb7a45c899)
            ;

            
        
    
        marker_76836d4339ef44abbce7d311b1b3aa00.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_c36b56475ef940519363840cdb361f92 = L.marker(
            [55.6651494315987, 37.4861899057297],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1095c601bfb471faaa381fc5600b172);
        
    
            var popup_36646e728c7e41f7a9ba655179dc2520 = L.popup({maxWidth: '100%'
            
            });

            
                var html_023901218a964f3cab6ab9c9a43e8aa2 = $(`<div id="html_023901218a964f3cab6ab9c9a43e8aa2" style="width: 100.0%; height: 100.0%;"><i>Бар «Фитнес-бар»</i></div>`)[0];
                popup_36646e728c7e41f7a9ba655179dc2520.setContent(html_023901218a964f3cab6ab9c9a43e8aa2);
            

            marker_c36b56475ef940519363840cdb361f92.bindPopup(popup_36646e728c7e41f7a9ba655179dc2520)
            ;

            
        
    
        marker_c36b56475ef940519363840cdb361f92.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
</script>