<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_fa3eb134c8574a3bb088918b46f71d41 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_fa3eb134c8574a3bb088918b46f71d41" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_fa3eb134c8574a3bb088918b46f71d41 = L.map(
        'map_fa3eb134c8574a3bb088918b46f71d41', {
        center: [55.751432, 37.716612],
        zoom: 12,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_229222045f144b259d8b589bc7ee8110 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_fa3eb134c8574a3bb088918b46f71d41);
    
        var marker_cad890a84d334a37a87cc57ed57e3eb4 = L.marker(
            [55.751432, 37.716612],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa3eb134c8574a3bb088918b46f71d41);
        
    

                var icon_1348c97b3f024063ab5f0e016e597d23 = L.AwesomeMarkers.icon({
                    icon: 'check',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_cad890a84d334a37a87cc57ed57e3eb4.setIcon(icon_1348c97b3f024063ab5f0e016e597d23);
            
    
            var popup_5b843b341a494504a147033ff16b56ad = L.popup({maxWidth: '100%'
            
            });

            
                var html_cd8b4e02adfc456aba9ee17cb2aff298 = $(`<div id="html_cd8b4e02adfc456aba9ee17cb2aff298" style="width: 100.0%; height: 100.0%;">Here I am</div>`)[0];
                popup_5b843b341a494504a147033ff16b56ad.setContent(html_cd8b4e02adfc456aba9ee17cb2aff298);
            

            marker_cad890a84d334a37a87cc57ed57e3eb4.bindPopup(popup_5b843b341a494504a147033ff16b56ad)
            ;

            
        
    
        var marker_a629635438914357bf4db14ee55d9110 = L.marker(
            [55.75814195682725, 37.71084286494522],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa3eb134c8574a3bb088918b46f71d41);
        
    
            var popup_605576d1222245cfac4fb6685d72bafa = L.popup({maxWidth: '100%'
            
            });

            
                var html_560bc3c3203141c4aab9228e5a679922 = $(`<div id="html_560bc3c3203141c4aab9228e5a679922" style="width: 100.0%; height: 100.0%;"><i>Хмельная у бороды</i></div>`)[0];
                popup_605576d1222245cfac4fb6685d72bafa.setContent(html_560bc3c3203141c4aab9228e5a679922);
            

            marker_a629635438914357bf4db14ee55d9110.bindPopup(popup_605576d1222245cfac4fb6685d72bafa)
            ;

            
        
    
        marker_a629635438914357bf4db14ee55d9110.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_bbb56643282a4d9097148ac8aca5eddb = L.marker(
            [55.73682684448607, 37.692154140931656],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa3eb134c8574a3bb088918b46f71d41);
        
    
            var popup_37eaa855b6c848b9a0ed83568b2b39a6 = L.popup({maxWidth: '100%'
            
            });

            
                var html_642977ff75244aab9200e0554e9ff8e7 = $(`<div id="html_642977ff75244aab9200e0554e9ff8e7" style="width: 100.0%; height: 100.0%;"><i>МИМИ</i></div>`)[0];
                popup_37eaa855b6c848b9a0ed83568b2b39a6.setContent(html_642977ff75244aab9200e0554e9ff8e7);
            

            marker_bbb56643282a4d9097148ac8aca5eddb.bindPopup(popup_37eaa855b6c848b9a0ed83568b2b39a6)
            ;

            
        
    
        marker_bbb56643282a4d9097148ac8aca5eddb.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_4dbe9fe2dd4145cea88d43833bca7f56 = L.marker(
            [55.758606975031654, 37.75025786985679],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa3eb134c8574a3bb088918b46f71d41);
        
    
            var popup_da1a5cf3233846a097f5ae62b4b80e3d = L.popup({maxWidth: '100%'
            
            });

            
                var html_89df5735f08740609f7fa4ed65193a94 = $(`<div id="html_89df5735f08740609f7fa4ed65193a94" style="width: 100.0%; height: 100.0%;"><i>Гриль Хаус дисконт бар</i></div>`)[0];
                popup_da1a5cf3233846a097f5ae62b4b80e3d.setContent(html_89df5735f08740609f7fa4ed65193a94);
            

            marker_4dbe9fe2dd4145cea88d43833bca7f56.bindPopup(popup_da1a5cf3233846a097f5ae62b4b80e3d)
            ;

            
        
    
        marker_4dbe9fe2dd4145cea88d43833bca7f56.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_52b8f8553588455981080f49ccf5a845 = L.marker(
            [55.75426275690808, 37.75257799999999],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa3eb134c8574a3bb088918b46f71d41);
        
    
            var popup_2a208e6621c548db8eb04be927c6b71c = L.popup({maxWidth: '100%'
            
            });

            
                var html_39a81013c5b545c8a8dded21e656f58a = $(`<div id="html_39a81013c5b545c8a8dded21e656f58a" style="width: 100.0%; height: 100.0%;"><i>Московская сеть кальянных МСК</i></div>`)[0];
                popup_2a208e6621c548db8eb04be927c6b71c.setContent(html_39a81013c5b545c8a8dded21e656f58a);
            

            marker_52b8f8553588455981080f49ccf5a845.bindPopup(popup_2a208e6621c548db8eb04be927c6b71c)
            ;

            
        
    
        marker_52b8f8553588455981080f49ccf5a845.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_2969f2f0d43f45e6b1baf7acc6054d1a = L.marker(
            [55.75426275690808, 37.75257799999999],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa3eb134c8574a3bb088918b46f71d41);
        
    
            var popup_dedd3f5c7f3e4808b82ab53a0af8608c = L.popup({maxWidth: '100%'
            
            });

            
                var html_ff7f1dadf4234c319602cda225e2d94f = $(`<div id="html_ff7f1dadf4234c319602cda225e2d94f" style="width: 100.0%; height: 100.0%;"><i>Бар Парадайз</i></div>`)[0];
                popup_dedd3f5c7f3e4808b82ab53a0af8608c.setContent(html_ff7f1dadf4234c319602cda225e2d94f);
            

            marker_2969f2f0d43f45e6b1baf7acc6054d1a.bindPopup(popup_dedd3f5c7f3e4808b82ab53a0af8608c)
            ;

            
        
    
        marker_2969f2f0d43f45e6b1baf7acc6054d1a.bindTooltip(
            `<div>`
            + `Let's drink!` + `</div>`,
            {"sticky": true}
        );
        
</script>